// Variabili Colore
$neon-green: #39FF14;
$pure-black: #000000;
$dark-grey: #121212;
$text-white: #ffffff;
$text-dark: #1a1a1a;

// Override Bootstrap Variables
$primary: $neon-green;
$body-bg: $pure-black;
$body-color: $text-white;
$font-family-sans-serif: 'DM Sans', sans-serif;